<div class="{{theme.roll_options_card}} twel:mt-2">
    <span class="{{theme.roll_options_title}}">{{ localize "Elemental.Attribute" }}</span>
    <div>
        {{#each attribute_names}}
            <span class="{{# if
                    this.selected }}{{../theme.roll_option_selected}}{{else}}{{../theme.roll_option_unselected}}{{/if }} elemental-attribute-selection"
                    data-value="{{this.english_name}}">{{this.name}}</span>
        {{/each}}
    </div>
</div>
