<form class="elemental-css">
    <div class="{{theme.text_attribute}}">
        {{title}}
    </div>
    <div class="{{theme.roll_options_card}} twel:mt-2">
        <span class="{{theme.roll_options_title}}">{{ localize "Elemental.Difficulty" }}</span>
        <div>
            {{# each difficulties}}
                <span class="{{# compare this "===" ../selected_difficulty}}{{../theme.roll_option_selected}}{{else}}{{../theme.roll_option_unselected}}{{/compare}} elemental-difficulty-selection"
                    data-value="{{ this }}">{{ this }}</span>
            {{/each}}
        </div>
    </div>
    {{>"systems/fvtt-elemental/templates/attribute_roll_partials/footer.hbs"}}
</form>
