<div class="elemental-css">
    {{#if title}}<div class="{{theme.roll_title}}">
        {{title}}
    </div>{{/if}}
    <div class="mb-2">
        {{#each badges }}
            <span class="{{../theme.modifier_badge}}">{{this}}</span>
        {{/each}}
    </div>
    <div class="dice-roll">
        {{#if flavor}}
        <div class="dice-flavor">{{flavor}}</div>
        {{/if}}
        <div class="dice-result">
            <div class="dice-formula">{{formula}}</div>
            {{{tooltip}}}
            <h4 class="dice-total">{{total}}</h4>
        </div>
    </div>
    <div class="mt-2 flex justify-between">
        {{#unless is_difficulty_roll}}
            <button class="elemental-roll-difficulty {{theme.roll_button}}">
                <i class="fas fa-dice"></i> {{localize "Elemental.DIFRoll"}}
            </button>
        {{/unless}}
        {{#unless originating_roll }}
            <button class="elemental-roll-opposed {{theme.roll_button}}">
                <i class="fas fa-dice"></i> {{localize "Elemental.OpposingRoll"}}
            </button>
    {{/unless}}
    </div>
    {{{result_div}}}
</div>