<form class="elemental-css">
    <div class="{{theme.text_attribute}}">
        {{#if dif_roll }}
            {{ localize "Elemental.DIFRoll" }}
        {{else}}
            {{ localize "Elemental.AttributeRoll" }} - {{actor.name}}
        {{/if}}
    </div>
    {{#unless dif_roll }}
        <div class="{{theme.roll_options_card}}">
            <span class="{{theme.roll_options_title}}">{{ localize "Elemental.Attribute" }}</span>
            <div>
                {{#each attribute_names}}
                    <span class="{{# if
                            this.selected }}{{../theme.roll_option_selected}}{{else}}{{../theme.roll_option_unselected}}{{/if }} elemental-attribute-selection"
                          data-value="{{this.english_name}}">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
    {{/unless}}
    {{#if dif_roll }}
        <div class="{{theme.roll_options_card}} mt-2">
            <span class="{{theme.roll_options_title}}">{{ localize "Elemental.Difficulty" }}</span>
            <div>
                <span class="{{theme.roll_option_unselected}} elemental-difficulty-selection" data-value="1">1</span>
                <span class="{{theme.roll_option_selected}} elemental-difficulty-selection" data-value="2">2</span>
                <span class="{{theme.roll_option_unselected}} elemental-difficulty-selection" data-value="3">3</span>
                <span class="{{theme.roll_option_unselected}} elemental-difficulty-selection" data-value="4">4</span>
                <span class="{{theme.roll_option_unselected}} elemental-difficulty-selection" data-value="5">5</span>
                <span class="{{theme.roll_option_unselected}} elemental-difficulty-selection" data-value="6">6</span>
            </div>
        </div>
    {{/if}}
    {{# if skills }}
        <div class="{{theme.roll_options_card}} mt-2">
            <span class="{{theme.roll_options_title}}">{{ localize "Elemental.Skills" }}</span>
            <div>
                {{#each skills}}
                    <span class="{{#if (eq this.id ../selected_skill) }}{{../theme.roll_option_selected}}{{else}}{{../theme.roll_option_unselected}}{{/if }}
                            elemental-skill-selection" data-value="{{this.id}}">
                        {{this.name}}
                    </span>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if flaws}}
        <div class="{{theme.roll_options_card}} mt-2">
            <span class="{{theme.roll_options_title}}">{{ localize "Elemental.Flaws"}}</span>
            <div>
                {{#each flaws}}
                    <span class="{{../theme.roll_option_unselected}} elemental-flaw-selection" data-name="{{this.name}}" data-value="{{this.roll_modifier}}">
                        {{this.name}}
                    </span>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{# if conditionals }}
        <div class="{{theme.roll_options_card}} mt-2">
            <span class="{{theme.roll_options_title}}">{{ localize "Elemental.Conditions" }}</span>
            <div>
                {{#each conditionals}}
                    <span class="{{../theme.roll_option_selected}}
                            elemental-conditional-selection" data-value="{{this.value}}" data-name="{{this.name}}">
                        {{this.name}}
                    </span>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class="{{theme.roll_options_card}} mt-2">
        <span class="{{theme.roll_options_title}}">{{ localize "Elemental.Modifiers" }}</span>
        <div id="elemental-active-modifiers" class="flex min-h-5">
        </div>
        <div class="mt-2">
            <span class="{{theme.roll_option_unselected}} elemental-add-modifier" data-value="-3">-3</span>
            <span class="{{theme.roll_option_unselected}} elemental-add-modifier" data-value="-2">-2</span>
            <span class="{{theme.roll_option_unselected}} elemental-add-modifier" data-value="-1">-1</span>
            <span class="{{theme.roll_option_unselected}} elemental-add-modifier" data-value="1">+1</span>
            <span class="{{theme.roll_option_unselected}} elemental-add-modifier" data-value="2">+2</span>
            <span class="{{theme.roll_option_unselected}} elemental-add-modifier" data-value="3">+3</span>
        </div>
    </div>
    <div class="flex justify-center">
        <button type="submit" name="submit" class="w-1/3 {{ theme.roll_button }}">
            <i class="fas fa-dice"></i> {{localize "Elemental.Roll"}}
        </button>
    </div>
</form>