<div class="elemental-css">
    {{#if title}}<div class="{{theme.roll_title}}">
        {{title}}
    </div>{{/if}}
    <div class="mb-2">
        {{#each badges }}
            <span class="{{../theme.modifier_badge}}">{{this}}</span>
        {{/each}}
    </div>
    <div class="dice-roll">
        {{#if flavor}}
        <div class="dice-flavor">{{flavor}}</div>
        {{/if}}
        <div class="dice-result">
            <div class="dice-formula">{{formula}}</div>
            {{{tooltip}}}
            <h4 class="dice-total">{{total}}</h4>
        </div>
    </div>
</div>