<form class="elemental-css">
    <!-- Header -->
    <div class="flex flex-row">
        <div>
            <input type="text" name="name" value="{{actor.name}}"
                   class="{{theme.big_input}}"
                   placeholder="{{localize 'Elemental.CharName'}}">
            <input type="text" name="system.title" value="{{actor.system.title}}"
                   class="{{theme.big_input}} mt-1"
                   placeholder="{{localize 'Elemental.Race'}}">
            <input type="text" name="system.race" value="{{actor.system.race}}"
                   class="{{theme.big_input}} mt-1"
                   placeholder="{{localize 'Elemental.Title'}}">
        </div>
        <div class="max-w-32">
            <img src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" class="m-1 rounded border-none">
        </div>
    </div>
    <!-- Tab header -->
    <nav class="{{theme.tab_backgound}}">
        <a class="elemental-tab-control {{theme.tab_active}}" data-tab="base-tab">
            {{localize 'Elemental.CharacterSheet.Base'}}
        </a>
        <a class="elemental-tab-control {{theme.tab_inactive}}" data-tab="equipment-tab">
            {{localize 'Elemental.CharacterSheet.Equipment'}}
        </a>
        <a class="elemental-tab-control {{theme.tab_inactive}}" data-tab="description-tab">
            {{localize 'Elemental.CharacterSheet.Description'}}
        </a>
    </nav>
    <div id="base-tab" class="tab-content grid grid-cols-2 gap-4 mb-2">
        <div>
            <span class="{{theme.text_attribute}}">
                {{localize 'Elemental.Attributes.Agility'}}
            </span>
        </div>
        <div>
            <span class="{{theme.text_attribute}}">
                {{localize 'Elemental.Attributes.Toughness'}}
            </span>
        </div>
        <div>
            <span class="{{theme.text_attribute}}">
                {{localize 'Elemental.Attributes.Awareness'}}
            </span>
        </div>
        <div>
            <span class="{{theme.text_attribute}}">
                {{localize 'Elemental.Attributes.Will'}}
            </span>
        </div>
    </div>
    <div id="equipment-tab" class="tab-content hidden">
        Equipment
    </div>
    <div id="description-tab" class="tab-content hidden">
        Description
    </div>
</form>