<label class="{{theme.text_description_label}} mt-2">{{localize "Elemental.CharacterSheet.Description"}}</label>
<div class="elemental-editor {{theme.text_description}}">
    {{editor
        actor.system.character_description
        target='system.character_description'
        button=editable
        editable=editable
        engine="prosemirror"
    }}
</div>
<label class="{{theme.text_description_label}} mt-2">{{localize "Elemental.CharacterSheet.BackgroundNotes"}}</label>
<div class="elemental-editor {{theme.text_description}}">
    {{editor
        actor.system.background_notes
        target='system.background_notes'
        button=editable
        editable=editable
        engine="prosemirror"
    }}
</div>
<label class="{{theme.text_description_label}} mt-2">{{localize "Elemental.CharacterSheet.OtherCharacters"}}</label>
<div class="elemental-editor {{theme.text_description}}">
    {{editor
        actor.system.other_characters
        target='system.other_characters'
        button=editable
        editable=editable
        engine="prosemirror"
    }}
</div>
