<div class="flex flex-col">
    <div class="grid grid-cols-9 gap-2">
        <span class="{{theme.text_attribute}} col-span-6">
            {{localize 'Elemental.Attributes.Agility'}}
        </span>
        <button class="elemental-roll-attribute {{theme.refresh_button}}" data-attribute="agility">
            <i class="fa-solid fa-dice"></i>
        </button>
        <input type="text" name="system.agility" value="{{actor.system.agility}}"
               class="{{theme.small_input}}">
        <label class="{{theme.info_label}}">{{actor.agility_xp}} XP</label>
        <span class="{{theme.text_derived}} col-span-5">
            {{localize "Elemental.Derived.Move"}}
        </span>
        <button class="elemental-roll-derived {{theme.refresh_button}}" data-derived="move">
            <i class="fa-solid fa-dice"></i>
        </button>
        <button class="elemental-refresh-derived {{theme.refresh_button}}" data-derived="move">
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>
        <input type="text" name="system.current_move" value="{{actor.system.current_move}}"
            class="{{theme.small_input}}">
        <label class="{{theme.info_label}}"> / {{actor.max_move}}</label>
    </div>
    <div class="{{theme.skill_box}}">
        {{#each actor.agility_skills as |skill index|}}
            {{>"systems/fvtt-elemental/templates/skill_row.hbs" theme=../theme skill=skill}}
        {{/each}}
    </div>
</div>
<div class="flex flex-col">
    <div class="grid grid-cols-9 gap-2">
        <span class="{{theme.text_attribute}} col-span-6">
            {{localize 'Elemental.Attributes.Toughness'}}
        </span>
        <button class="elemental-roll-attribute {{theme.refresh_button}}" data-attribute="toughness">
            <i class="fa-solid fa-dice"></i>
        </button>
        <input type="text" name="system.toughness" value="{{actor.system.toughness}}"
               class="{{theme.small_input}}">
        <label class="{{theme.info_label}}">{{actor.toughness_xp}} XP</label>
        <span class="{{theme.text_derived}} col-span-5">
            {{localize "Elemental.Derived.Health"}}
        </span>
        <button class="elemental-roll-derived {{theme.refresh_button}}" data-derived="health">
            <i class="fa-solid fa-dice"></i>
        </button>
        <button class="elemental-refresh-derived {{theme.refresh_button}}" data-derived="health">
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>
        <input type="text" name="system.current_health" value="{{actor.system.current_health}}"
            class="{{theme.small_input}}">
        <label class="{{theme.info_label}}"> / {{actor.max_health}}</label>
    </div>
    <div class="{{theme.skill_box}}">
        {{#each actor.toughness_skills as |skill index|}}
            {{>"systems/fvtt-elemental/templates/skill_row.hbs" theme=../theme skill=skill}}
        {{/each}}
    </div></div>
<div class="flex flex-col">
    <div class="grid grid-cols-9 gap-2">
        <span class="{{theme.text_attribute}}  col-span-6">
            {{localize 'Elemental.Attributes.Awareness'}}
        </span>
        <button class="elemental-roll-attribute {{theme.refresh_button}}" data-attribute="awareness">
            <i class="fa-solid fa-dice"></i>
        </button>
        <input type="text" name="system.awareness" value="{{actor.system.awareness}}"
               class="{{theme.small_input}}">
        <label class="{{theme.info_label}}">{{actor.awareness_xp}} XP</label>
        <span class="{{theme.text_derived}} col-span-5">
            {{localize "Elemental.Derived.Initiative"}}
        </span>
        <button class="elemental-roll-derived {{theme.refresh_button}}" data-derived="initiative">
            <i class="fa-solid fa-dice"></i>
        </button>
        <button class="elemental-refresh-derived {{theme.refresh_button}}" data-derived="initiative">
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>
        <input type="text" name="system.current_initiative" value="{{actor.system.current_initiative}}"
            class="{{theme.small_input}}">
        <label class="{{theme.info_label}}"> / {{actor.max_initiative}}</label>
    </div>
    <div class="{{theme.skill_box}}">
        {{#each actor.awareness_skills_powers as |skill index|}}
            {{>"systems/fvtt-elemental/templates/skill_row.hbs" theme=../theme skill=skill}}
        {{/each}}
    </div>
</div>
<div class="flex flex-col">
    <div class="grid grid-cols-9 gap-2">
        <span class="{{theme.text_attribute}} col-span-6">
            {{localize 'Elemental.Attributes.Will'}}
        </span>
        <button class="elemental-roll-attribute {{theme.refresh_button}}" data-attribute="will">
            <i class="fa-solid fa-dice"></i>
        </button>
        <input type="text" name="system.will" value="{{actor.system.will}}" class="{{theme.small_input}}">
        <label class="{{theme.info_label}}">{{actor.will_xp}} XP</label>
                        <span class="{{theme.text_derived}} col-span-5">
            {{localize "Elemental.Derived.Spirit"}}
        </span>
        <button class="elemental-roll-derived {{theme.refresh_button}}" data-derived="spirit">
            <i class="fa-solid fa-dice"></i>
        </button>
        <button class="elemental-refresh-derived {{theme.refresh_button}}" data-derived="spirit">
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>
        <input type="text" name="system.current_spirit" value="{{actor.system.current_spirit}}"
            class="{{theme.small_input}}">
        <label class="{{theme.info_label}}"> / {{actor.max_spirit}}</label>
    </div>
    <div class="{{theme.skill_box}}">
        {{#each actor.will_skills as |skill index|}}
            {{>"systems/fvtt-elemental/templates/skill_row.hbs" theme=../theme skill=skill}}
        {{/each}}
    </div>
</div>
