<form class="elemental-css">
    <!-- Header -->
    <div class="twel:flex twel:flex-row">
        <div>
            <input type="text" name="name" value="{{actor.name}}"
                   class="{{theme.big_input}}"
                   placeholder="{{localize 'Elemental.CharName'}}">
            <input type="text" name="system.title" value="{{actor.system.title}}"
                   class="{{theme.big_input}} mt-1"
                   placeholder="{{localize 'Elemental.Race'}}">
            <input type="text" name="system.race" value="{{actor.system.race}}"
                   class="{{theme.big_input}} mt-1"
                   placeholder="{{localize 'Elemental.Title'}}">
        </div>
        <div class="twel:max-w-32">
            <img src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" class="twel:m-1 twel:rounded-sm twel:border-none">
        </div>
    </div>
    <div class="twel:flex twel:flex-row twel:justify-end twel:gap-3">
        <span class="{{theme.text_attribute}}">
            {{localize 'Elemental.CharacterSheet.ExperiencePoints'}}
        </span>
        <span>
            <span class="{{text_derived}}">
                {{localize 'Elemental.CharacterSheet.XPReserve'}}
            </span>
            <input type="text" name="system.experience_reserve" value="{{actor.system.experience_reserve}}"
                   class="{{theme.small_input}}"
                   placeholder="{{localize "Elemental.CharacterSheet.XPReserve"}}">
            <span class="{{text_derived}}">
                {{localize 'Elemental.CharacterSheet.XPSpent'}}: {{actor.total_xp}}
            </span>
        </span>
    </div>
    <!-- Tab header -->
    <nav class="{{theme.tab_backgound}}">
        <a class="elemental-tab-control {{theme.tab_inactive}}" data-tab="base-tab">
            {{localize 'Elemental.CharacterSheet.Base'}}
        </a>
        <a class="elemental-tab-control {{theme.tab_inactive}}" data-tab="equipment-tab">
            {{localize 'Elemental.CharacterSheet.Equipment'}}
        </a>
        <a class="elemental-tab-control {{theme.tab_inactive}}" data-tab="description-tab">
            {{localize 'Elemental.CharacterSheet.Description'}}
        </a>
        <a class="elemental-tab-control {{theme.tab_inactive}}" data-tab="rules-tab">
            {{localize 'Elemental.CharacterSheet.Rules'}}
        </a>
    </nav>
    <div id="base-tab" class="tab-content twel:grid twel:grid-cols-2 twel:gap-4 twel:mb-2 twel:mt-2 twel:hidden">
        {{>"systems/fvtt-elemental/templates/character_base.hbs"}}
    </div>
    <div id="equipment-tab" class="tab-content twel:hidden twel:mt-2">
        {{>"systems/fvtt-elemental/templates/character_equipment.hbs"}}
    </div>
    <div id="description-tab" class="tab-content twel:hidden">
        {{>"systems/fvtt-elemental/templates/character_description.hbs"}}
    </div>
    <div id="rules-tab" class="tab-content twel:hidden">
        Rules
    </div>
</form>
