<div class="elemental-css">
    <p class="text-center font-bold">{{ title }} log</p>
    <table>
        <thead>
            <tr>
                <th>Character</th>
                <th title="{{ localize "Elemental.DamageLog.Initial" }}" class="text-end">Init</th>
                <th title="{{ localize "Elemental.DamageLog.Damage" }}" class="text-end">Dmg</th>
                {{# unless hide_armor }}
                    <th title="{{ localize "Elemental.DamageLog.Armor" }}"class="text-end">Arm</th>
                {{/unless }}
                <th title="{{ localize "Elemental.DamageLog.Final" }}" class="text-end">Final</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{# each log }}
                <tr>
                    <td>{{ this.name }}</td>
                    <td title="{{ localize "Elemental.DamageLog.Initial" }}" class="text-end">{{ this.initial }}</td>
                    <td title="{{ localize "Elemental.DamageLog.Damage" }}" class="text-end">{{ this.damage }}</td>
                    {{# unless ../hide_armor }}
                        <td title="{{ localize "Elemental.DamageLog.Armor" }}" class="text-end">{{ this.armor }}</td>
                    {{/unless }}
                    <td title="{{ localize "Elemental.DamageLog.Final" }}" class="text-end">
                        {{ this.final }}
                    </td>
                    <td>
                        <button class="{{ ../theme.undo_chat_button }} elemental-undo-damage" data-initial="{{ this.initial }}"
                                data-actor="{{ this.actor_uuid}}" data-damage-stat="{{ this.damage_stat }}"
                                title="{{ localize "Elemental.DamageLog.Undo" }}">
                            <i class="fa-solid fa-rotate-left"></i>
                        </button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
