<div class="elemental-css">
    <p class="text-center font-bold">Damage log</p>
    <table>
        <thead>
            <tr>
                <th>Character</th>
                <th>Init</th>
                <th>Dmg</th>
                <th>Arm</th>
                <th>Final</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{# each log }}
                <tr>
                    <th>{{ this.name }}</th>
                    <th class="text-right">{{ this.initial }}</th>
                    <th class="text-right">{{ this.damage }}</th>
                    <th class="text-right">{{ this.armor }}</th>
                    <th class="text-right">
                        {{ this.final }}
                    </th>
                    <th>
                        <button class="{{ ../theme.undo_chat_button }} elemental-undo-damage" data-initial="{{ this.initial }}" data-actor="{{ this.actor_uuid}}">
                            <i class="fa-solid fa-rotate-left"></i>
                        </button>
                    </th>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
