<div class="twel:flex twel:m-2 twel:gap-2">
    <img class="{{theme.item_picture}}" src="{{this.img}}" alt="item image">
    <div class="{{theme.item_name}}">{{ item.name }}</div>
    <div class="twel:flex twel:justify-end twel:gap-0">
        {{# if item.system.is_weapon}}
            <button class="elemental-roll-attack {{theme.skill_button}}" data-item-id="{{item.id}}">
                <i class="fa-solid fa-dice-four"></i>
            </button>
        {{/if}}
        {{# if item.system.has_damage}}
            <button class="elemental-roll-damage {{theme.skill_button}}" data-item-id="{{item.id}}">
                <i class="fa-solid fa-burst"></i>
            </button>
        {{/if}}
        <button class="elemental-item-change-quantity {{theme.skill_button}}" data-item-id="{{item.id}}" data-action="add">
            <i class="fa-solid fa-plus"></i>
        </button>
        <p class="{{theme.quantity_name}}">{{ this.system.quantity }}</p>
        <button class="elemental-item-change-quantity {{theme.skill_button}}" data-item-id="{{item.id}}" data-action="subtract">
            <i class="fa-solid fa-minus"></i>
        </button>
        <button class="elemental-edit-skill {{theme.skill_button}}" data-item-id="{{item.id}}">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="elemental-delete-skill {{theme.skill_button}}" data-item-id="{{item.id}}">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>
