<div class="flex m-2 gap-2">
    <img class="{{theme.item_picture}}" src="{{this.img}}" alt="item image">
    <div class="{{theme.item_name}}">{{ this.name }}</div>
    <div class="flex justify-end gap-0">
        <button class="{{theme.skill_button}}" data-item-id="{{this.id}}">
            <i class="fa-solid fa-plus"></i>
        </button>
        <p class="{{theme.quantity_name}}">{{ this.system.quantity }}</p>
        <button class="{{theme.skill_button}}" data-item-id="{{this.id}}">
            <i class="fa-solid fa-minus"></i>
        </button>
        <button class="{{theme.skill_button}}" data-item-id="{{this.id}}">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="{{theme.skill_button}}" data-item-id="{{this.id}}">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>
