<div class="grid grid-cols-8">
    <span class="col-span-5 {{theme.skill_name}}">
        {{skill.name}}
    </span>
    <div class="col-span-2 flex justify-end gap-0">
        {{# unless skill.system.dont_modify_rolls }}
            <button class="elemental-roll-skill {{theme.skill_button}}" data-item-id="{{skill.id}}">
                <i class="fa-solid fa-dice-four"></i>
            </button>
        {{/unless}}
        <button class="elemental-edit-skill {{theme.skill_button}}" data-item-id="{{skill.id}}">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="elemental-delete-skill {{theme.skill_button}}" data-item-id="{{skill.id}}">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    <input type="text" name="{{skill.id}}" value="{{this.system.score}}" class="col-span-1 elemental-skill-value {{theme.small_input}}">
</div>