<div class="twel:grid twel:grid-cols-8">
    <span class="twel:col-span-5 {{skill.system.theme_name}}">
        {{skill.name}}{{ skill.system.extra_name }}
    </span>
    <div class="twel:col-span-2 twel:flex twel:justify-end twel:gap-0">
        {{# unless skill.system.dont_modify_rolls }}
            <button class="elemental-roll-skill {{theme.skill_button}}" data-item-id="{{skill.id}}">
                <i class="fa-solid fa-dice-four"></i>
            </button>
        {{/unless}}
        <button class="elemental-edit-skill {{theme.skill_button}}" data-item-id="{{skill.id}}">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="elemental-delete-skill {{theme.skill_button}}" data-item-id="{{skill.id}}">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    <input type="text" name="{{skill.id}}" value="{{this.system.score}}" class="twel:col-span-1 elemental-skill-value {{theme.small_input}}">
</div>
