<form class="elemental-css">
    <div class="{{theme.text_attribute}}">
        {{ localize "Elemental.StatCheck" }} - {{actor.name}}
    </div>
    <div class="twel:flex twel:justify-between">
        <button type="submit" name="submit" value="2d" class="{{ theme.roll_button }}">
            <i class="fas fa-dice"></i> {{localize "Elemental.Normal"}}
        </button>
        <button type="submit" name="submit" value="3d" class="{{ theme.roll_button }}">
            <i class="fas fa-dice"></i> {{localize "Elemental.Difficult"}}
        </button>
    </div>
</form>